<%
--[[
    Info    upnp
]]--

local ver = require("xiaoqiang.XQVersion").webVersion
local request_uri = luci.http.getenv("REQUEST_URI")
%>
<%include('web/inc/head')%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.set.ipmacband.css?v=<%=ver%>"/>
</head>
<body>
<!-- upgread -->
<div class="mod-setting-panel">
    <div class="hd">
        <h3>DHCP静态IP分配</h3>
    </div>
    <div class="bd">
        <div class="mod-set-ipmacband">
            <div class="section">
                <h4><b class="vam">当前连接设备列表：</b><i class="ico ico-refresh" id="refresh" title="刷新当前设备列表"></i></h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="150">设备名称</th>
                            <th>IP地址</th>
                            <th>MAC地址</th>
                            <th width="120" class="center">操作 <!-- <a href="#" class="bandall">全部添加</a> --></th>
                        </tr>
                    </thead>
                    <tbody id="devlist">

                    </tbody>
                </table>
            </div>

            <div class="section">
                <h4>绑定列表：<span>可以从设备列表添加或者<a href="#" class="btn-add-singel">手工添加</a></span></h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="150">IP地址</th>
                            <th>MAC地址</th>
                            <th width="120" class="center">操作 <a href="#" class="unbandall">全部解绑</a></th>
                        </tr>
                    </thead>
                    <tbody id="bandlist">

                    </tbody>
                </table>
            </div>

            <div class="section">
                <button id="btnSaveIpMacBand" type="button" class="btn btn-primary"><span>保存</span></button>
            </div>

        </div>
    </div>
</div>
<script type="tmpl/html" id="tpldevlist">
<tr>
    <td>{$devname}</td>
    <td class="con">{$ip}</td>
    <td class="con">{$mac}</td>
    <td class="con center">{$action}</td>
</tr>
</script>
<script type="tmpl/html" id="tplbandlist">
<tr>
    <td class="con">{$ip}</td>
    <td class="con">{$mac}</td>
    <td class="con center">{$action}</td>
</tr>
</script>
<script type="tmpl/html" id="tpladdsingel">
<div class="mod-add-singel">
    <form action="#" class="form" name="addSingelBand" id="addSingelBand">
        <div class="item">
            <label class="k">IP:</label>
            <span class="v"><input type="text" class="text" name="ip"></span>
            <em class="t"></em>
        </div>
        <div class="item">
            <label class="k">MAC:</label>
            <span class="v"><input type="text" class="text" name="mac"></span>
            <em class="t"></em>
        </div>
        <div class="item item-control">
            <button type="submit" id="btnAddsingel" class="btn btn-primary"><span>保存</span></button>
        </div>
    </form>
</div>
</script>
<%include('web/inc/g.js.base')%>
<script>
var ipMacBand = (function(){
    var getDevlist = function(){
        var tpldev = $('#tpldevlist').html();
        var tplband = $('#tplbandlist').html();
        $.getJSON('<%=luci.dispatcher.build_url("api", "xqnetwork","macbind_info")%>',{},function(rsp){
            if ( rsp.code != 0 ) {
                return;
            }
            var devices = rsp.devicelist;
            var bandlist = rsp.list;
            if (devices.length > 0) {
                console.log(devices);
                var list_html = [];
                for (var i = 0; i < devices.length; i++) {
                    var mac = devices[i].mac.toUpperCase();
                    var dname = QW.StringH.encode4Html( devices[i].name );
                    var ip = devices[i].ip;
                    // 0:未添加
                    // 1:已添加
                    // 2:已绑定
                    var tag = devices[i].tag;
                    var action = '';
                    if (tag == 0) {
                        action = '<a href="#" class="btn btn-primary btn-small band" data-ip="'+ip+'" data-mac="'+mac+'"><span>绑定</span></a>';
                    }
                    if (tag == 1) {
                        action = '已添加';
                    }
                    if (tag == 2) {
                        action = '已绑定';
                    }
                    var domitem = tpldev.tmpl({
                        devname: dname,
                        ip: ip,
                        mac: mac,
                        action: action
                    });
                    list_html.push(domitem);
                }
                console.log(list_html);
                $('#devlist').html(list_html.join(''));
            } else {
                $('#devlist').html('<tr><td colspan="4">没有设备连接</td></tr>');
            }

            if ( bandlist.length > 0 ) {
                var bandhtml = [];
                for (var i = 0; i < bandlist.length; i++) {
                    var mac = bandlist[i].mac.toUpperCase();
                    var ip = bandlist[i].ip;
                    var tag = bandlist[i].tag;
                    var action;
                    // if (tag == 1) {
                    //     action = '未绑定';
                    // }
                    // if (tag == 2) {
                        action = '<a href="#" class="btn btn-primary btn-small unband" data-ip="'+ip+'" data-mac="'+mac+'"><span>解绑</span></a>';
                    // }

                    var domitem = tplband.tmpl({
                        ip: ip,
                        mac: mac,
                        action: action
                    });
                    bandhtml.push(domitem);
                }
                $('#bandlist').html(bandhtml.join(''));
                $('.unbandall').show();
            } else {
                $('#bandlist').html('<tr><td colspan="3">没有绑定信息</td></tr>');
                $('.unbandall').hide();
            }

        });
    };

    var band = function(e){
        e.preventDefault();
        var that = this;
        var $this = $(that);
        var ip = $this.attr('data-ip');
        var mac = $this.attr('data-mac');
        $.getJSON(
            '<%=luci.dispatcher.build_url("api", "xqnetwork", "mac_bind")%>',
            {
                ip: ip,
                mac: mac
            },
            function( rsp ){
                if (rsp.code == 0) {
                    getDevlist();
                } else {
                    alert( rsp.msg );
                }
        });
    };

    var unband = function(e){
        e.preventDefault();
        var that = this;
        var $this = $(that);
        var ip = $this.attr('data-ip');
        var mac = $this.attr('data-mac');
        $.getJSON(
            '<%=luci.dispatcher.build_url("api", "xqnetwork", "mac_unbind")%>',
            {
                ip: ip,
                mac: mac
            },
            function( rsp ){
                if (rsp.code == 0) {
                    getDevlist();
                } else {
                    alert( rsp.msg );
                }
        });
    };

    var saveBand = function(e){
        e.preventDefault();
        $.getJSON('<%=luci.dispatcher.build_url("api", "xqnetwork", "savebind")%>', {}, function( rsp ) {
            if (rsp.code == 0) {
                window.top.location.reload( true );
            }
        });
    };

    var unbindAll = function(e){
        e.preventDefault();
        function unbindallmac(){
            $.getJSON('<%=luci.dispatcher.build_url("api", "xqnetwork", "unbindall")%>', {}, function( rsp ) {
                if ( rsp.code == 0 ) {
                    getDevlist();
                } else {
                    alert( rsp.msg );
                }
            });
        };
        window.top.$.dialog({
            title: '解除绑定',
            content: '此操作将解除当前绑定的所有设备',
            ok: function(){
                unbindallmac();
            },
            cancel: function(){}
        }).lock();

    };

    var dlg;
    var addSingelBand = function(e){
        e.preventDefault();
        var form = $('#tpladdsingel').html();
        dlg = $.dialog({
            width: 450,
            title: '手工添加绑定设备',
            content: form
        });
    }

    var saveSingelBand = function(e){
        e.preventDefault();
        var formName = 'addSingelBand';
        var $form = $('#addSingelBand');
        var validator = FormValidator.checkAll(formName, [
            {
                name: 'ip',
                display :'IP地址',
                rules: 'required|valid_ip'
            },
            {
                name: 'mac',
                display :'MAC地址',
                rules: 'required|valid_mac'
            }
        ]);
        if ( validator ) {
            var ip = $form.find('[name=ip]').val(),
                mac = $form.find('[name=mac]').val();

            $.getJSON(
            '<%=luci.dispatcher.build_url("api", "xqnetwork", "mac_bind")%>',
            {
                ip: ip,
                mac: mac
            },
            function( rsp ){
                if (rsp.code == 0) {
                    getDevlist();
                    dlg.close();
                } else {
                    alert( rsp.msg );
                }
            });
        }
    }

    return {
        init: function(){
            $('body').delegate('.band', 'click', band);
            $('body').delegate('.unband', 'click', unband);
            $('body').delegate('.unbandall', 'click', unbindAll);
            $('body').delegate('#addSingelBand', 'submit', saveSingelBand);
            $('body').delegate('#btnAddsingel', 'click', saveSingelBand);

            $('.btn-add-singel').on('click', addSingelBand);
            $('#btnSaveIpMacBand').on('click', saveBand);
            $('#refresh').on('click', function( e ){
                e.preventDefault();
                $('#devlist').html('<tr><td colspan="4">刷新中...</td></tr>');
                getDevlist();
            });
            getDevlist();
        }
    };
}());

$(function(){
    ipMacBand.init();
});
</script>