<%
--[[
	Info	系统状态
]]--

local ver = require("xiaoqiang.XQVersion").webVersion
local XQSysUtil = require("xiaoqiang.util.XQSysUtil")
local romVersion = XQSysUtil.getRomVersion()
local hardwareVersion = XQSysUtil.getHardwareGPIO()
local request_uri = luci.http.getenv("REQUEST_URI")
%>
<%include('web/inc/head')%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.set.st.css?v=<%=ver%>" type="text/css"/>
</head>
<body>
<div class="mod-setting-panel">
	<div class="hd">
		<h3>系统状态</h3>
	</div>
	<div class="bd">
		<div class="mod-set-status">
			<div class="group">
				<h3>版本信息</h3>
				<div class="cont">
					<ul class="list">
						<li><span class="k">当前软件版本：</span><span class="v sys-version"><%=romVersion%></span></li>
						<li><span class="k">当前硬件版本：</span><span class="v"><%=hardwareVersion%></span></li>
					</ul>
				</div>
			</div>
			<div class="group">
				<h3>LAN口状态</h3>
				<div class="cont">
					<ul class="list">
						<li><span class="k">MAC地址：</span><span class="vl lan-mac"></span></li>
						<li><span class="k">IP地址：</span><span class="v lan-ip"></span></li>
						<li><span class="k">子网掩码：</span><span class="v lan-mask"></span></li>
					</ul>
				</div>
			</div>
			<div class="group">
				<h3>无线状态</h3>
				<div class="cont">
					<ul class="list">
						<li><span class="k">WiFi 2.4G：</span><span class="v wifi1-st"></span></li>
						<li><span class="k">SSID：</span><span class="v wifi1-ssid"></span></li>
						<li><span class="k">信道：</span><span class="v wifi1-channel"></span></li>
						<li><span class="k">模式：</span><span class="v wifi1-mode"></span></li>
						<!-- <li><span class="k">频段带宽：</span><span class="v"></span></li>
						<li><span class="k">MAC地址：</span><span class="v"></span></li>
						<li><span class="k">WDS状态：</span><span class="v"></span></li> -->
					</ul>
					<ul class="list">
						<li><span class="k">WiFi 5G：</span><span class="v wifi2-st"></span></li>
						<li><span class="k">SSID：</span><span class="v wifi2-ssid"></span></li>
						<li><span class="k">信道：</span><span class="v wifi2-channel"></span></li>
						<li><span class="k">模式：</span><span class="v wifi2-mode"></span></li>
						<!-- <li><span class="k">频段带宽：</span><span class="v"></span></li>
						<li><span class="k">MAC地址：</span><span class="v"></span></li>
						<li><span class="k">WDS状态：</span><span class="v"></span></li> -->
					</ul>
				</div>
			</div>
			<div class="group">
				<h3>WAN口状态</h3>
				<div class="cont">
					<ul class="list">
						<li><span class="k">MAC地址：</span><span class="v wan-mac"></span></li>
						<li><span class="k">IP地址：</span><span class="v wan-ip"></span></li>
						<li><span class="k">连接类型：</span><span class="v wan-type"></span></li>
						<li><span class="k">子网掩码：</span><span class="v wan-mask"></span></li>
						<li><span class="k">网关：</span><span class="v wan-gateway"></span></li>
						<li><span class="k">DNS服务器：</span><span class="v wan-peerdns"></span></li>
						<li><span class="k">备选DNS：</span><span class="v wan-dns"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<%include('web/inc/g.js.base')%>
<script>
$(function(){
	$.getJSON('<%=luci.dispatcher.build_url("api", "xqsystem","information")%>',{},function(rsp){
		if (rsp.code == 0) {
			$('.lan-mac').html(rsp.lan.mac);
			$('.lan-ip').html(rsp.lan.ipv4 && rsp.lan.ipv4[0].ip);
			$('.lan-mask').html(rsp.lan.ipv4 && rsp.lan.ipv4[0].mask);

			$('.wan-mac').html(rsp.wan.mac);
			$('.wan-ip').html(rsp.wan.ipv4 && rsp.wan.ipv4[0].ip);
			$('.wan-mask').html(rsp.wan.ipv4 && rsp.wan.ipv4[0].mask);
			$('.wan-gateway').html(rsp.wan.gateWay);
			$('.wan-type').html(rsp.wan.details.wanType.toUpperCase() == 'STATIC' ? '静态IP' : rsp.wan.details.wanType.toUpperCase());
			$('.wan-peerdns').html(rsp.wan.dnsAddrs);
			$('.wan-dns').html(rsp.wan.dnsAddrs1);

			$('.wifi1-st').html(rsp.wifi[0].status == 1 ? '开启' : '关闭');
			$('.wifi1-ssid').html(StringH.encode4Html(rsp.wifi[0].ssid));
			$('.wifi1-channel').html(rsp.wifi[0].channel == 0 ? '自动' : rsp.wifi[0].channel);
			$('.wifi1-mode').html(rsp.wifi[0].mode);

			$('.wifi2-st').html(rsp.wifi[1].status == 1 ? '开启' : '关闭');
			$('.wifi2-ssid').html(StringH.encode4Html(rsp.wifi[1].ssid));
			$('.wifi2-channel').html(rsp.wifi[1].channel == 0 ? '自动' : rsp.wifi[1].channel);
			$('.wifi2-mode').html(rsp.wifi[1].mode);
		}
	});
});
</script>
</body>
</html>