<%
--[[
	Info	upnp
]]--

local ver = require("xiaoqiang.XQVersion").webVersion
local wifiUtil = require("xiaoqiang.util.XQWifiUtil")
local request_uri = luci.http.getenv("REQUEST_URI")
local remote_addr = luci.http.getenv("REMOTE_ADDR")
local mac = luci.sys.net.ip4mac(remote_addr)
local lanType = wifiUtil.getDeviceWifiIndex(mac)
%>
<%include('web/inc/head')%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.set.macfilter.css?v=<%=ver%>"/>
</head>
<body>
<!-- upgread -->
<div class="mod-setting-panel">
	<div class="hd">
		<h3>无线访问控制</h3>
		<a href="#" data-enable="1" class="btn-offon btn-off" id="btnWifiFilter"></a>
	</div>
	<div class="bd">

		<div class="mod-set-macfilter">
			<div class="section">
				<h4>控制模式：</h4>
				<p>
					<label for="filtertype1"><input id="filtertype1" type="radio" name="filtertype" value="0" class="filtertype"> <span>黑名单模式（不允许列表中设备访问）</span></label>
					<label for="filtertype2"><input id="filtertype2" type="radio" name="filtertype" value="1" class="filtertype"> <span>白名单模式（只允许列表中设备访问）</span></label>
				</p>
			</div>
			<div class="section">
				<h4><span>设备列表：</span><i class="ico ico-refresh" id="refresh" title="刷新当前设备列表"></i></h4>
				<table class="table">
					<thead>
						<tr>
							<th>当前连接设备</th>
							<th>设备信息</th>
							<th>连接时长</th>
							<th>连接速度</th>
							<th width="60">操作</th>
						</tr>
					</thead>
					<tbody id="deviceslist"></tbody>
				</table>
			</div>
			<div class="section">
				<h4>无线访问控制名单：</h4>
				<table class="table">
					<thead>
						<tr>
							<th>设备信息</th>
							<th width="60">操作</th>
						</tr>
					</thead>
					<tbody id="filterlist"></tbody>
				</table>
			</div>
			<div class="section">
				<button id="btnSaveFilter" type="button" class="btn btn-primary"><span>保存</span></button>
			</div>
		</div>
	</div>
</div>
<script type="tmpl/html" id="tpldevlist">
<tr>
	<td>{$devname}</td>
	<td class="con">{$ip} <br> {$mac}</td>
	<td class="con">{$uptime}</td>
	<td class="con">上行：{$upspeed}/S <br> 下行：{$downspeed}/S</td>
	<td class="center con">{$action}</td>
</tr>
</script>
<script type="tmpl/html" id="tplfilterlist">
<tr>
	<td class="con">{$mac}</td>
	<td class="center con">{$action}</td>
</tr>
</script>
<%include('web/inc/g.js.base')%>
<script>
var modelWifiFilter = (function(){

	var $btn = $('#btnWifiFilter');
	var enableLast;
	var selfMac = '<%=mac%>'.toUpperCase();
	var lanType = '<%=lanType%>';
	$btn.on('switch', function( e, data ){
		if ( data.enable == 1 ) {
			$btn.attr('data-enable', 0);
			$btn[0].className = 'btn-offon btn-on';
			$('.filtertype').prop('disabled', false);
			$('#refresh').show();
		} else {
			$btn.attr('data-enable', 1);
			$btn[0].className = 'btn-offon btn-off';
			$('.filtertype').prop('disabled', true);
			$('#refresh').hide();
		}

		if ( data.enable == enableLast && data.enable == 0) {
			$('#btnSaveFilter').hide();
		} else {
			$('#btnSaveFilter').show();
		}
	});

	$btn.on('click', function(e){
		e.preventDefault();
		var enable = $(this).attr('data-enable');
		$btn.trigger('switch', {enable: enable});
		getStatus( {}, function( rsp ) {
			rsp.enable = enable;
			getDevList( rsp );
			getFilterList( rsp );
			getFilterType( rsp );
		} );
	});

	var getStatus = function( data, callback ){
			$.getJSON('<%=luci.dispatcher.build_url("api", "xqnetwork", "wifi_macfilter_info")%>', data, function( rsp ){
				if ( rsp.code == 0 ) {
					enableLast = rsp.enable;
					callback( rsp );
				}else{
					alert( rsp.msg );
				}
			});
		},
		isEnable = function( rsp ) {
			$btn.trigger('switch', {enable: rsp.enable});
		},
		isself = function( mac ){

			var model = $('.filtertype:checked').val();
			var result = false;
			console.log(model, selfMac, mac);
			if ( model == '0' && selfMac == mac ) {
				return true;
			}
		},
		getDevList = function( rsp ) {
			(function( rsp ){
				setTimeout(function(){
					var tpl = $('#tpldevlist').html(),
						devlist = rsp.list,
						arrdevlist = [],
						htmldevlist;
					if ( devlist.length == 0 ) {
						$('#deviceslist').html( '<tr><td colspan="5">无数据</td></tr>' );
						return;
					}
					for (var i = 0; i < devlist.length; i++) {
						var action = '<a data-mac="'+ devlist[i].mac +'" class="addtofilter btn btn-primary btn-small" href="#"><span>添加</span></a>';
						var mac = devlist[i].mac;
						if ( devlist[i].added != 0 ) {
							action = '已添加';
						}
						if ( rsp.enable == 0 ) {
							action = '';
						}
						if ( isself( mac ) ) {
							action = '本机';
						}
						var online = secondToDate(devlist[i].statistics.online),
							upspeed = byteFormat(devlist[i].statistics.upspeed, 100),
							downspeed = byteFormat(devlist[i].statistics.downspeed, 100),
							tpldata = {
								devname: QW.StringH.encode4Html( devlist[i]['name'] ),
								ip: devlist[i].ip,
								mac: mac,
								uptime: online,
								upspeed: upspeed,
								downspeed: downspeed,
								action: action
							};
						arrdevlist.push( tpl.tmpl(tpldata) );
					}
					htmldevlist = arrdevlist.join('');
					$('#deviceslist').html( htmldevlist );
				}, 0);
			})(rsp);
		},
		getFilterList = function( rsp ) {
			var macfilter = rsp.macfilter,
				tpl = $('#tplfilterlist').html(),
				arrfilter = [],
				htmlfilter,
				action;
			if ( macfilter.length > 0 ) {
				for (var i = 0; i < macfilter.length; i++) {
					action = '<a class="filterdel btn btn-primary btn-small" data-mac="'+ macfilter[i] +'" href="#"><span>移除</span></a>';
					if ( rsp.enable == 0 ) {
						action = '';
					}
					arrfilter.push(tpl.tmpl({
						mac: macfilter[i],
						action: action
					}));
				}
				htmlfilter = arrfilter.join('');
				$('#filterlist').html(htmlfilter);
			} else {
				$('#filterlist').html('<tr><td colspan="2">还没有设备添加进来。</td></tr>');
			}
		},
		getFilterType = function( rsp ) {
			var model = rsp.model;
			if ( model == 0 ) {
				$('#filtertype1').prop('checked', true);
			} else {
				$('#filtertype2').prop('checked', true);
			}
		},
		addEvent = function(){
			var editFilter = function( mac, option ){
				var mac = mac,
					model = $('.filtertype:checked').val(),
					requestURL = '<%=luci.dispatcher.build_url("api", "xqnetwork", "edit_device")%>',
					option = option,
					requestData = {
						mac: mac,
						model: model,
						option: option
					};
				$.getJSON( requestURL, requestData, function( rsp ) {
					if ( rsp.code == 0 ) {
						getStatus( {model: model}, function( rsp ){
							var enable = $btn.attr('data-enable');
							rsp.enable = enable == '0' ? 1 : 0;
							getDevList( rsp );
							getFilterList( rsp );
						} );
					} else {
						alert( rsp.msg );
					}
				} );
			};

			$('body').delegate('.addtofilter', 'click', function(e){
				e.preventDefault();
				var mac = $(this).attr('data-mac');
				editFilter( mac, 0 );
			});

			$('.filtertype').on('click', function(e){
				var $target = $(this),
					val = $(this).val();
				getStatus( {model: val}, function( rsp ){

					var enable = $btn.attr('data-enable');
					rsp.enable =  enable == '0' ? 1 : 0;

					getDevList( rsp );
					getFilterList( rsp );
				});
			});

			$('body').delegate('.filterdel', 'click', function(e){
				e.preventDefault();
				var mac = $(this).attr('data-mac');
				editFilter( mac, 1 );
			});

			$('#refresh').on('click', function(e){
				e.preventDefault();
				var model = $('.filtertype:checked').val();

				$('#deviceslist').html( '<tr><td colspan="5">刷新中...</td></tr>' );

				getStatus( {model: model}, function( rsp ){

					var enable = $btn.attr('data-enable');
					rsp.enable =  enable == '0' ? 1 : 0;

					getDevList( rsp );
				});
			});

			var dlgLock;
			$('#btnSaveFilter').on('wait', function(e){
				dlgLock = $.dialog({
					title: false,
					content:'处理中...'
				}).lock();
			});
			$('#btnSaveFilter').on('done', function(e){
				dlgLock.close();
			});

			$('#btnSaveFilter').on('click', function(e){
				e.preventDefault();
				var model = $('.filtertype:checked').val(),
					requestURL = '<%=luci.dispatcher.build_url("api", "xqnetwork", "set_wifi_macfilter")%>',
					enable = $btn.attr('data-enable') == '1' ? 0 : 1,
					requestData = {
						model: model,
						enable: enable
					};
				if ( model == 1 && enable == 1) {
					if ( $('#filterlist td').length == 1 ) {
						window.top.art.dialog({
							title: '无线MAC地址过滤',
							content: '您没有在列表中添加任何设备，保存后所有设备将无法访问网络！请返回修改',
							ok: function(){
								this.close();
							}
						}).lock();
						return;
					}

					var hasSelf = false;
					$('#filterlist td').each(function(){
						var text = this.innerHTML;
						if ( text == selfMac) {
							hasSelf = true;
						}
					});

					if ( !hasSelf && lanType != 0 ) {
						window.top.art.dialog({
							title: '无线MAC地址过滤',
							content: '您没有将当前设备添加至白名单，保存后本机将无法访问网络！',
							ok: function(){
								this.close();
							}
						}).lock();
						return;
					}
				}

				if ( model == 0 && enable == 1) {
					// if ( $('#filterlist td').length == 1 ) {
					// 	window.top.art.dialog({
					// 		title: '无线MAC地址过滤',
					// 		content: '您没有在列表中添加任何设备，保存后并不会有什么效果…',
					// 		ok: function(){
					// 			this.close();
					// 		}
					// 	}).lock();
					// 	return;
					// }
					var hasSelf = false;
					$('#filterlist td').each(function(){
						var text = this.innerHTML;
						if ( text == selfMac ) {
							hasSelf = true;
						}
					});
					if ( hasSelf ) {
						window.top.art.dialog({
							title: '无线MAC地址过滤',
							content: '您将当前设备添加至黑名单，保存后本机将无法访问网络！',
							ok: function(){
								this.close();
							}
						}).lock();
						return;
					}
				}

				$.getJSON( requestURL, requestData, function( rsp ) {
					if ( rsp.code == 0 ) {
						window.top.art.dialog({
							title : false,
							cancel: false,
							content : '设置已经生效，等待15秒后WiFi重启。'
						}).lock().time(15 * 1000);
						setTimeout(function(){
							window.top.location.reload(1);
						}, 15 * 1000);
					}
				});
			});
		},
		init = function(){
			getStatus( {}, function( rsp ){
				getDevList( rsp );
				getFilterList( rsp );
				getFilterType( rsp );
				isEnable( rsp );
			} );
			addEvent();
		};

	return {
		init: init
	}
}());
$(function(){
	modelWifiFilter.init();
});
</script>