<%
--[[
	Info	wifi 频道强度设置
]]--

local ver = require("xiaoqiang.XQVersion").webVersion
local request_uri = luci.http.getenv("REQUEST_URI")
%>
<%include('web/inc/head')%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.set.default.css?v=<%=ver%>" type="text/css"/>
</head>
<div class="mod-setting-panel">
	<div class="hd">
		<h3>WiFi信道强度设置</h3>
	</div>
	<div class="bd">
		<div class="mod-set-wifichannel">
		<div id="channel_autoreal"></div>
		<form name="wifiChannel" id="wifiChannel" action="/" class="form form-horizontal">
			<input type="hidden" name="old_channel1" value="" />
			<input type="hidden" name="old_txpwr1" value="" />
			<input type="hidden" name="old_channel2" value="" />
			<input type="hidden" name="old_txpwr2" value="" />
			<div class="item">
				<label class="k">2.4G无线信道</label>
				<span class="v">
				<select name="channel1">
					<option value="11">自动</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
				</select>
				</span>
				<em class="t"></em>
			</div>
			<div class="item">
				<label class="k">2.4G信号强度</label>
				<span class="v">
				<select name="txpwr1">
					<option value="max">强</option>
					<option value="mid">中</option>
					<option value="min">弱</option>
					<option value="140">穿墙模式</option>
				</select>
				</span>
				<em class="t"></em>
			</div>
			<div class="item">
				<label class="k">5G无线信道</label>
				<span class="v">
				<select name="channel2">
					<option value="149/80">自动</option>
					<option value="149">149</option>
					<option value="153">153</option>
					<option value="157">157</option>
					<option value="161">161</option>
					<option value="165">165</option>
				</select>
				</span>
				<em class="t"></em>
			</div>
			<div class="item">
				<label class="k">5G信号强度</label>
				<span class="v">
				<select name="txpwr2" class="txt slt">
					<option value="max">强</option>
					<option value="mid">中</option>
					<option value="min">弱</option>
					<option value="140">穿墙模式</option>
				</select>
				</span>
				<em class="t"></em>
			</div>
			<div class="item item-control">
				<button id="btnSubmit" type="submit" class="btn btn-primary"><span><%:保存%></span></button>
			</div>
		</form>
		</div>
	</div>
</div>
<%include('web/inc/g.js.base')%>
<script>
$(global_event).on('channel:get', function(evt, data){
	$.getJSON("<%=luci.dispatcher.build_url("api", "xqnetwork","wifi_txpwr_channel")%>",{},function(rsp)
	{
		if ( rsp.code == 0 ) {
			global_event.wifipro = {
				list : rsp.list
			};
			var txpwr = rsp.list[0].txpwr;
			if (txpwr == 'nil') {
				txpwr = 'max'
			}
			var txpwr2 = rsp.list[1].txpwr;
			if (txpwr2 == 'nil') {
				txpwr2 = 'max'
			}
			// 2.4G
			$("select[name='channel1']").val(rsp.list[0].channel);
			$("input[name='old_channel1']").val(rsp.list[0].channel);
			$("select[name='txpwr1']").val(txpwr);
			$("input[name='old_txpwr1']").val(txpwr);
			// 5G
			$("select[name='channel2']").val(rsp.list[1].channel);
			$("input[name='old_channel2']").val(rsp.list[1].channel);
			$("select[name='txpwr2']").val(txpwr2);
			$("input[name='old_txpwr2']").val(txpwr2);

		} else {
			art.dialog({title:false,content:rsp.msg}).lock().time(1.5*1000);
		}
	});
});

$(global_event).on('channel:set', function(evt, data){
	$("#btnSubmit").click(function(){
		var channel0 = $("select[name='channel1']").val();
		var channel1 = $("select[name='channel2']").val();
		var txpwr0 = $("select[name='txpwr1']").val();
		var txpwr1 = $("select[name='txpwr2']").val();
		var change = false;
		var form = this;
		for (var i = 0; i < global_event.wifipro.list.length; i++) {
			var list = global_event.wifipro.list[i];
			if (i==0) {
				if (list.channel != channel0) {
					change = true;
				}
				if (list.txpwr != txpwr0) {
					change = true;
				}
			}
			if (i==1) {
				if (list.channel != channel1) {
					change = true;
				}
				if (list.txpwr != txpwr1) {
					change = true;
				}
			}
		}

		if (!change) {
			window.top.art.dialog({
				title:false,
				content:'没有更改，无需提交'
			}).lock().time(1.5*1000);
			return false;
		}else{
			$("#btnSubmit").prop("disabled",true).html('<span>处理中...</span>');
			var request_date = $('#wifiChannel').serialize();
			$.getJSON("<%=luci.dispatcher.build_url("api", "xqnetwork","set_wifi_txpwr_channel")%>",request_date,function(rsp){
				if (rsp.code == 0) {
					window.top.art.dialog({
						title:false,
						content:'修改成功。'
					}).lock().time(1.5*1000);
				}else{
					window.top.art.dialog({
						title:false,
						content: rsp.msg
					}).lock().time(1.5*1000);
				}
				$("#btnSubmit").prop("disabled",false).html('<span>保存</span>');
			});
		}
	});
});

$(document).ready(function(){
	$(global_event).trigger('channel:get');
	$(global_event).trigger('channel:set');
});
</script>
</body>
</html>
