<%
--[[
	Info	wifi 基本设置
]]--
function escape(str)
	str = string.gsub( str, '<', '&lt;')
	str = string.gsub( str, '>', '&gt;')
	str = string.gsub( str, '"', '&quot;')
	str = string.gsub( str, "'", '&apos;')
	str = string.gsub( str, '&', '&amp;')
	return str
end
local ver = require("xiaoqiang.XQVersion").webVersion
local wifiUtil = require("xiaoqiang.util.XQWifiUtil")
local wifi_status = wifiUtil.getWifiStatus(1).up
local wifi5_status = wifiUtil.getWifiStatus(2).up

local remote_addr = luci.http.getenv("REMOTE_ADDR")
local mac = luci.sys.net.ip4mac(remote_addr)
local lanType = wifiUtil.getDeviceWifiIndex(mac)
%>
<%include('web/inc/head')%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.set.wifi.css?v=<%=ver%>" type="text/css"/>
</head>
<body>
<div class="mod-setting-panel">
	<div class="hd">
		<h3>WiFi设置</h3>
	</div>
	<div class="bd">
		<div class="panel-wifi">
			<div class="bd">
				<form class="form form-horizontal" id="wifiset" name="wifiset" method="post" action="<%=luci.dispatcher.build_url("api", "xqnetwork", "set_all_wifi")%>" autocomplete="off">
					<div class="group" id="wifi24"></div>
					<div class="group" id="wifi50"></div>
					<div class="group" id="wifiguest"></div>
					<div class="item item-controls item-setting">
						<button type="submit" class="btn btn-primary" id="btnSubmit"><span>保存</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<%include('web/inc/g.js.base')%>
<script type="tmpl/text" id="tmplForm">
	{$notice}
	<input type="hidden" name="on{$id}" value="{$status}">
	<div class="item">
		<span class="k">开启{$wifiname}网络：</span>
		<span class="v"><a href="#" data-order="{$id}" class="btn-offon {if($status == 0)}btn-off{else}btn-on{/if} btn-wifi-st"></a></span>
		<em class="t"></em>
	</div>
	<div class="group-set" {if($status == 0)} style="display:none;"{/if}>
		<div class="item item-setting">
			<label class="k">名称：</label>
			<span class="v"><input type="text" name="ssid{$id}" value="{$ssid}" class="text input-large" autocomplete="off" /></span>
			<em class="t"></em>
		</div>
		<div class="item item-controls item-setting">
			<label class="js-checkbox" data-id="{$id}"><span class="input-checkbox {if($hidden == '1')} input-checkbox-checked{/if}"><input type="checkbox" name="hidden{$id}" {if($hidden == '1')} checked{/if}></span> 隐藏网络不被发现</label>
		</div>
		<div class="item item-setting">
			<label class="k">加密方式：</label>
			<span class="v">
				<select name="encryption{$id}" class="beautify encryption" style="width:185px;">
					<option value="psk2"{if($encryption == 'psk2')} selected="selected"{/if}>强加密(WPA2个人版)</option>
					<option value="mixed-psk"{if($encryption == 'mixed-psk')} selected="selected"{/if}>混合加密(WPA/WPA2个人版)</option>
					<option value="none"{if($encryption == 'none')} selected="selected"{/if}>无加密(允许所有人连接)</option>
				</select>
			</span>
			<em class="t"></em>
		</div>
		<div class="item item-setting item-pwd-{$id}"{if($encryption == 'none')} style="display:none;"{/if}>
			<label class="k">密码：</label>
			<span class="v">
				<input type="password" name="pwd{$id}" value="{$wifi_key}" class="text input-large input_password1" autocomplete="off" />
				<input type="text" name="pwd{$id}_show" value="{$wifi_key}" class="text input-large input_password2" style="display:none;" autocomplete="off" />
			</span>
			<em class="t"></em>
		</div>
		<div class="item item-controls item-setting item-pwd-{$id}"{if($encryption == 'none')} style="display:none;"{/if}>
			<label class="js-checkbox pwdshow" data-id="{$id}"><span class="input-checkbox"><input type="checkbox"></span> 显示密码</label>
		</div>
	</div>
</script>
<script type="tmpl/text" id="tmplFormGuest">
	<input type="hidden" name="on{$id}" value="{$status}">
	<div class="item">
		<span class="k">开启访客网络：</span>
		<span class="v"><a href="#" data-order="{$id}" class="btn-offon {if($status == 0 || $enabled == 0)}btn-off{else}btn-on{/if} btn-wifi-st"></a></span>
		<em class="t"></em>
	</div>
	<div class="group-set" {if($status == 0 || $enabled == 0)} style="display:none;"{/if}>
		<div class="item item-setting">
			<label class="k">名称：</label>
			<span class="v"><input type="text" name="ssid{$id}" value="{$ssid}" class="text input-large" autocomplete="off" /></span>
			<em class="t"></em>
		</div>
		<div class="item item-setting">
			<label class="k">加密方式：</label>
			<span class="v">
				<select name="encryption{$id}" class="beautify encryption" style="width:185px;">
					<option value="psk2"{if($encryption == 'psk2')} selected="selected"{/if}>强加密(WPA2个人版)</option>
					<option value="mixed-psk"{if($encryption == 'mixed-psk')} selected="selected"{/if}>混合加密(WPA/WPA2个人版)</option>
					<option value="none"{if($encryption == 'none')} selected="selected"{/if}>无加密(允许所有人连接)</option>
				</select>
			</span>
			<em class="t"></em>
		</div>
		<div class="item item-setting item-pwd-{$id}"{if($encryption == 'none')} style="display:none;"{/if}>
			<label class="k">密码：</label>
			<span class="v">
				{if($pwdshow == 1)}
				<input type="password" name="pwd{$id}" value="{$wifi_key}" class="text input-large input_password1" autocomplete="off" style="display:none;" />
				<input type="text" name="pwd{$id}_show" value="{$wifi_key}" class="text input-large input_password2" autocomplete="off" />
				{else}
				<input type="password" name="pwd{$id}" value="{$wifi_key}" class="text input-large input_password1" autocomplete="off" />
				<input type="text" name="pwd{$id}_show" value="{$wifi_key}" class="text input-large input_password2" style="display:none;" autocomplete="off" />
				{/if}
			</span>
			<em class="t"></em>
		</div>
		<div class="item item-controls item-setting item-pwd-{$id}"{if($encryption == 'none')} style="display:none;"{/if}>
			{if($pwdshow == 1)}
			<label class="js-checkbox pwdshow" data-id="{$id}"><span class="input-checkbox input-checkbox-checked"><input type="checkbox" checked="checked"></span> 显示密码</label>
			{else}
			<label class="js-checkbox pwdshow" data-id="{$id}"><span class="input-checkbox"><input type="checkbox"></span> 显示密码</label>
			{/if}
		</div>
	</div>
	<div class="offtips">
		{if($enabled == 0)}
			访客WiFi工作在2.4G频率下，打开2.4G WiFi开关才能使用此功能。
		{else}
			{if($status == 0)}
			访客WiFi仅供上网使用，能有效保护路由存储的数据安全。建议为客人设置简单好记的密码
			{/if}
		{/if}
	</div>
</script>
<script>
$(global_event).on('wifi:init', function(evt, data){
	global_event.wifi = {
		isWifiConn: <%=lanType%>
	};
	global_event.oldConfig = {};
	$(global_event).trigger('wifi:statusGet');
});

$(global_event).on('wifi:statusGet', function(evt, data){
	var formTpl = $('#tmplForm').html();
	var chars = ['0','1','2','3','4','5','6','7','8','9','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
	function generateMixed(n) {
	     var res = "";
	     for(var i = 0; i < n ; i ++) {
	         var id = Math.ceil(Math.random()*35);
	         res += chars[id];
	     }
	     return res;
	}
	$.getJSON('<%=luci.dispatcher.build_url("api", "xqnetwork", "wifi_detail_all")%>',{}, function(rsp){
		if (rsp.code == 0) {
			if ( rsp.info.length == 2 ) {
				rsp.info.push({
					ssid: 'Xiaomi_Hello_' + generateMixed(4),
					encryption: 'mixed-psk',
					password: '12345678',
					status: 0,
					enabled: 0,
					hidden: 0,
					pwdshow: 1
				});
			}
			for (var i = 0; i < rsp.info.length; i++) {
				if ( i == 2 ) {
					formTpl = $('#tmplFormGuest').html();
				}
				var info = rsp.info[i];

				var id = i + 1;
				var wifiname = ['2.4G', '5G', '访客'][i];
				var encryption = info.encryption;
				var password = info.password;
				var status = info.status;
				var hidden = info.hidden || '0';
				if(encryption == 'none'){
					password = '';
				}
				var notice = '';
				if (info.password == "" || !info.password){
					notice = '<p class="alert">无线网络未设置密码，有被他人盗用的风险，请设置密码。</p>';
				}
				var tplData = {
					id: id,
					wifiname: wifiname,
					status: status,
					ssid: StringH.encode4HtmlValue(info.ssid),
					wifi_key : StringH.encode4HtmlValue(password),
					encryption : encryption,
					device: info.device,
					ifname: info.ifname,
					notice: notice,
					hidden: hidden,
					enabled: info.enabled,
					pwdshow: info.pwdshow
				};

				console.log( tplData );
				var tplRander = formTpl.tmpl(tplData);
				var root = $(['#wifi24', '#wifi50', '#wifiguest'][i]);
				root.html(tplRander);

				$('.input_password2', root).blur(function(){
					var val = $(this).val();
					$(this).prev(".input_password1").val(val);
				});

				//original values
				global_event.oldConfig['on'+id] = status;
				global_event.oldConfig['ssid'+id] = StringH.encode4HtmlValue(info.ssid);
				global_event.oldConfig['pwd'+id] = StringH.encode4HtmlValue(password);
				global_event.oldConfig['encryption'+id] = encryption;
				global_event.oldConfig['hidden'+id] = hidden;
			}
			// select event
			$.selectBeautify();
			$('.encryption').on('change', function(e){
				console.log('encryptionChange');
				var val = $(this).val(),
					id = this.name.replace('encryption', ''),
					pwd = $('.item-pwd-'+id),
					tips = $(this.parentNode).next('.t');
				if (val === 'none') {
					pwd.hide();
				}else{
					pwd.show();
				}
				if (val === 'psk2') {
					tips.html('仅支持WPA加密方式的设备将无法连接').show();
				}else{
					tips.html('');
				}
			});
		}
	});
});

$(global_event).on('wifi:wait', function(evt, data){
	$("#btnSubmit").attr("disabled",true).find('span').text('处理中...');
	$("input,select").attr("readonly",true);
});
$(global_event).on('wifi:done', function(evt, data){
	$("#btnSubmit").attr("disabled",false).find('span').text('保存');
	$("input,select").attr("readonly",false);
});
$(global_event).on('wifi:bindEvent', function(evt, data){

	$('body').delegate('.btn-on', 'click', function(e){
		e.preventDefault();
		var device_order = $(this).attr('data-order');
		$(global_event).trigger('wifi:close', {device_order : parseInt(device_order, 10)});
	});

	$('body').delegate('.btn-off', 'click', function(e){
		e.preventDefault();
		var device_order = $(this).attr('data-order');
		$(global_event).trigger('wifi:open', {device_order : parseInt(device_order, 10)});
	});

	$('#wifiset').on('submit', function(e){
		e.preventDefault();
		var formName = this.name;
		var formAction = this.action;
		var encryption1 = $('select[name=encryption1]').val();
		var encryption2 = $('select[name=encryption2]').val();
		var encryption3 = $('select[name=encryption3]').val();
		var validatorConf = [];
		for (var i = 0; i < 3; i++) {
			var id = i + 1;
			var rulesSsid = {
				name: 'ssid' + id,
				display :'WiFi名称',
				rules: 'required|max_length[31]|valid_ssid',
				msg: {
					'max_length': '名字过长，请使用短一些的名字'
				}
			},
			rulesPwd = {
				name: 'pwd' + id,
				display :'密码',
				rules: 'required|haschina|min_length[8]|max_length[63]',
				msg: {
					'max_length': '密码过长，请使用短一些的密码'
				}
			};
			validatorConf.push(rulesSsid);
			validatorConf.push(rulesPwd);
		};
		if (encryption1 == 'none') {
			validatorConf[1].rules = 'haschina|min_length[8]|max_length[63]';
		}
		if (encryption2 == 'none') {
			validatorConf[3].rules = 'haschina|min_length[8]|max_length[63]';
		}
		if (encryption3 == 'none') {
			validatorConf[5].rules = 'haschina|min_length[8]|max_length[63]';
		}
		var validator = FormValidator.checkAll(formName, validatorConf);
		var on1 = $('input[name=on1]').val(),
			on2 = $('input[name=on2]').val(),
			on3 = $('input[name=on3]').val();
		if (on1 === '0' && on2 === '0') {
			validator = true;
		}else{
			if (on1 === '0') {
				validator = FormValidator.checkAll(formName, [validatorConf[2], validatorConf[3]]);
			}
			if (on2 === '0') {
				validator = FormValidator.checkAll(formName, [validatorConf[0], validatorConf[1]]);
				if (on3 === '1') {
					validator = FormValidator.checkAll(formName, [validatorConf[0], validatorConf[1], validatorConf[4], validatorConf[5]]);
				}
			}
		}
		if (validator) {
			var isChanged = false;
			var _pwd1 =  $('input[name=pwd1]').val(),
				_pwd2 = $('input[name=pwd2]').val(),
				_pwd3 = $('input[name=pwd3]').val(),
				_ssid1 = $('input[name=ssid1]').val(),
				_ssid2 = $('input[name=ssid2]').val(),
				_ssid3 = $('input[name=ssid3]').val(),
				_encryption1 = $('select[name=encryption1]').val(),
				_encryption2 = $('select[name=encryption2]').val(),
				_encryption3 = $('select[name=encryption3]').val(),
				_hidden1 = $('[name=hidden1]').prop('checked') ? '1' : '0',
				_hidden2 = $('[name=hidden2]').prop('checked') ? '1' : '0';

			var request_date = {
				on1: on1,
				on2: on2,
				on3: on3,
				ssid1: $.trim(_ssid1),
				ssid2: $.trim(_ssid2),
				ssid3: $.trim(_ssid3),
				pwd1: _pwd1,
				pwd2: _pwd2,
				pwd3: _pwd3,
				encryption1: _encryption1,
				encryption2: _encryption2,
				encryption3: _encryption3,
				hidden1: _hidden1,
				hidden2: _hidden2,
				hidden3: '0'
			};

			console.log(request_date);
			// 配置未发生变更，提示并中断操作
			for (var item in request_date) {
				if (global_event.oldConfig[item] != request_date[item]) {
					isChanged = true;
					break;
				}
			}

			if (!isChanged) {
				$.lightalert().setContent('你都没改变，提交什么啊？').show();
				return;
			}
			// 关闭当前wifi提示，中断操作
			if (global_event.wifi.isWifiConn != 0) {
				var closeSelf = false;
				if (global_event.wifi.isWifiConn == 1 && request_date.on1 == 0) {
					closeSelf = true;
				}
				if (global_event.wifi.isWifiConn == 2 && request_date.on2 == 0) {
					closeSelf = true;
				}
				if (closeSelf) {
					window.top.art.dialog({
						title: '修改 WiFi 设置',
						content: '当前连接 WiFi 无法关闭，否则终端将与路由器失去连接，请在网线连接时设置'
					}).lock().time(5000);
					return;
				}
			}

			$(global_event).trigger('wifi:confirm', {
				ok : function(){
					$(global_event).trigger('wifi:wait');
					$(global_event).trigger('wifi:modify',{request_date : request_date, url : formAction});
				},
				cancel : function(){
					//$(global_event).trigger('wifi:done');
				}
			});
		}
	});

	$('body').delegate('.pwdshow', 'click', function(){
		var id = parseInt( $(this).attr('data-id'), 10 ) - 1,
			rootId = ['#wifi24', '#wifi50', '#wifiguest'][id]
			root = $(rootId)[0]
			elckbox = $('input', this),
			$pwd1 = $(".input_password1", root),
			$pwd2 = $(".input_password2", root);
		console.log(root);
		if(elckbox[0].checked){
			$pwd2.val($pwd1.val());
			$pwd1.hide();
			$pwd2.show();
		}else{
			$pwd1.val($pwd2.val());
			$pwd1.show();
			$pwd2.hide();
		}
	});
});


$(global_event).on('wifi:open', function(evt, data){
	var order = data.device_order;
	var form = ['#wifi24','#wifi50','#wifiguest'][(order - 1)];
	var btn = $('.btn-wifi-st')[(order - 1)];
	var input = $('input[name=on' + order + ']');
	if ( order == 3 ) {
		if ( $('input[name=on1]').val() == '0' ) {
			return;
		}
		$('.offtips').hide();
	}
	$(form).find('.group-set').show();
	$(btn).removeClass('btn-off').addClass('btn-on');
	input.val('1');
	if ( order == 1 ) {
		if ( $('input[name=on3]').val() == 1 ) {
			$('.btn-wifi-st')
			.eq(2).removeClass('btn-off').addClass('btn-on');
			$('#wifiguest').find('.group-set').show();
			$('.offtips').hide();
		}
	}
});

$(global_event).on('wifi:close', function(evt, data){
	var order = data.device_order;
	var form = ['#wifi24','#wifi50','#wifiguest'][(order - 1)];
	var btn = $('.btn-wifi-st')[(order - 1)];
	var input = $('input[name=on' + order + ']');

	$(form).find('.group-set').hide();
	$(btn).removeClass('btn-on').addClass('btn-off');
	input.val('0');
	if ( order == 3 ) {
		$('.offtips').html('访客WiFi仅供上网使用，能有效保护路由存储的数据安全。建议为客人设置简单好记的密码').show();
	}
	if ( order == 1 ) {
		$('.btn-wifi-st')
		.eq(2).removeClass('btn-on').addClass('btn-off');
		$('#wifiguest').find('.group-set').hide();
		$('.offtips').html('访客WiFi工作在2.4G频率下，打开2.4G WiFi开关才能使用此功能。').show();
	}
});

$(global_event).on('wifi:success', function(evt, data){
	if (global_event.wifi.isWifiConn == 0) {
		$.lightalert().setContent('WiFi设置成功,10秒后自动刷新').show();
		setTimeout(function(){
			window.top.location.reload(true);
		}, 10 * 1000);
		return;
	};
	var dlg = window.parent.art.dialog({
		title : '修改 WiFi 设置',
		content : '<div style="padding:40px;">正在设置 WiFi</div>',
		width : 300,
		beforeunload : function(){
			window.top.location.reload(true);
		}
	}).lock().time(15*1000);

	setTimeout(function(){
		dlg.content('<div style="padding:40px;">当前连接中断</div>');
		setTimeout(function(){
			dlg.content('<div style="padding:40px;">请稍后手动连接</div>');
		},3000);
	},3000);
});

$(global_event).on('wifi:confirm', function(evt, data){
	var ok = data.ok || function(){},
		cancel = data.cancel || function(){};

	window.top.art.dialog({
		id : "confirm",
		width : 300,
		title : "修改 WiFi 设置",
		content : '该操作将重启 WiFi 并导致 WiFi 下的所有设备失去连接，是否确认修改？',
		okValue: '确认',
		ok: function(){
			ok();
		},
		cancelValue: '取消',
		cancel: function () {
			console.log(cancel);
			cancel();
		}
	}).lock();
});

$(global_event).on('wifi:modify', function(evt, data){
	var request_date =  data.request_date;
	var url = data.url;
	$.ajax({
		url: url,
		dataType: 'json',
		timeout: 5000,
		type: "POST",
		data: request_date,
		success: function(rsp) {
			if(rsp.code == 0){
				$(global_event).trigger('wifi:success');
			} else {
				var msg = StringH.encode4Html(rsp.msg);
				$.lightalert().setContent(msg).show();
			}
			$(global_event).trigger('wifi:done');
		},
		error: function() {
			$(global_event).trigger('wifi:done');
			$.lightalert().setContent('网络异常，请检查是否联网').show();
		}
	});
});

$(function(){
	$(global_event).trigger('wifi:init');
	$(global_event).trigger('wifi:bindEvent');
});
</script>
</body>
</html>
