<%
	local ver = require("xiaoqiang.XQVersion").webVersion
%>
<%include ("web/inc/head")%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.init.css?v=<%=ver%>">
</head>
<body>
<div id="doc">
	<%include ("web/inc/header")%>
	<!--  -->
	<div id="nav">
	<script>
	var navCurrent = '.application';
	</script>
	<%include ("web/inc/nav")%>
	</div>
	<!--  -->
	<div id="bd" class="dft">
		<h1 style="padding:30px; font-size:40px; text-align:center;">施工中，敬请期待...</h1>
	</div>
	<%include ("web/inc/footer")%>
</div>
<%include ("web/inc/g.js")%>
<%include ("web/inc/reboot.js")%>
</body>
</html>