<%
	local ver = require("xiaoqiang.XQVersion").webVersion
%>
<%include ("web/inc/head")%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/base.css?v=<%=ver%>">
<style>
.mod-upgrade {
	padding: 100px 0;
	text-align: center;
}
.mod-upgrade h1 {
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 15px;
}
.mod-upgrade .progress-box {
	width: 550px;
	margin: auto;
	margin-bottom: 15px;
}
.mod-user-nav {
	display: none;
}
</style>
<script>
var syslock = true;
if (window.self != window.top) {
    window.top.location.reload(true);
}
</script>
</head>
<body>
<div id="doc">
	<div id="hd">
		<div class="inner clearfix">
			<h1 id="logo"><a href="/" title="小米路由器">小米路由器</a></h1>
			<div class="mod-user-nav"></div>
		</div>
	</div>
	<div id="bd">
		<div class="mod-upgrade">
			<h1>路由器正在升级</h1>
			<div id="dldProgress" class="progress-box">
	            <div class="progress" style="width:365px;">
	                <div class="bar" id="persentWidth" style="width: 0%;"></div>
	            </div>
	            <span class="progress-text">已更新<b id="persent" class="value">0</b>%</span>
	        </div>
	        <div class="btn-box">
				<button class="btn btn-primary" id="btnCancel"><span>取消</span></button>
			</div>
		</div>
	</div>
	<%include ("web/inc/footer")%>
</div>
<%include ("web/inc/g.js.base")%>
<script>
<%include("web/inc/upgrade.js")%>
$(function(){
	$("#btnCancel").hide();
	$(global_event).trigger('upgread:flashCheck');
	$("#btnCancel").click(function(){
		$.getJSON('<%=luci.dispatcher.build_url("api", "xqsystem","cancel")%>',{},function(rsp){
			if ( rsp.code == 0 ) {
				window.top.location.reload(true);
			} else {
				window.top.art.dialog({
					title: false,
					content: rsp.msg
				});
			}
		});
	});
});
</script>
</body>
</html>