<!DOCTYPE html>
<%
	local XQVersion = require("xiaoqiang.XQVersion")
	local ver = XQVersion.webVersion
	local sys = require("xiaoqiang.util.XQSysUtil")
	local binded = sys.getInitInfo() and 'true' or 'false'
    local XQLanWanUtil = require("xiaoqiang.util.XQLanWanUtil")
    local androidClient = XQVersion.androidClientRouter
%>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title>小米路由器</title>
	<link href="<%=resource%>/mobile/css/bc.css?v=<%=ver%>" rel="stylesheet">
</head>
<body style="display:none;">
	<%include("mobile/inc/header")%>
	<article>
		<div class="mod-app-download">
			<div class="app">
				<img src="<%=resource%>/mobile/img/logo2.png" width="120">
				<p>安装小米路由器客户端并设置</p>
				<a href="<%=androidClient%>" class="btn btn-primary btn-block">立即下载并安装</a>
			</div>
			<div class="web"><p>或者<a href="<%=luci.dispatcher.build_url("mobile", "hello")%>">直接Web设置</a></p></div>
		</div>
	</article>
	<%include("mobile/inc/footer")%>
<script src="<%=resource%>/mobile/js/zepto.js"></script>
<script>
var binded = <%=binded%>;
$(function(){
	if (binded) {
		window.location.href = '<%=luci.dispatcher.build_url("web", "home")%>';
	}else{
		window.location.href = '<%=luci.dispatcher.build_url("mobile", "hello")%>';

		// if(isMobile.Android()){
		// 	$('body').show();
		// }else{
		// 	window.location.href = '<%=luci.dispatcher.build_url("mobile", "hello")%>';
		// }
	}

});
</script>
</body>
</html>