<%
    local XQSysUtil = require "xiaoqiang.util.XQSysUtil"
    local homeUrl = '/'
    if XQSysUtil.getInitInfo() then
    	homeUrl = luci.dispatcher.build_url("web", "home")
    end
%>
<noscript>
<div class="noscript">你的浏览器禁止了Javascript功能，会造成无法使用系统进行路由器管理，请开启。</div>
</noscript>
	<div id="hd">
		<div class="inner clearfix">
			<h1 id="logo"><a href="<%=homeUrl%>" title="小米路由器">小米路由器</a></h1>
			<div class="mod-user-nav">
				<!-- <ul class="clearfix inline">
					<li><a href="#">论坛</a></li>
				</ul> -->
			</div>
		</div>
	</div>
