	<div class="list">
		<ul>
			<li class="home active">
				<a href="<%=luci.dispatcher.build_url("web", "home")%>"><i class="ico ico-nav-1"></i><span>路由状态</span></a>
			</li>
			<li class="manager">
				<a href="<%=luci.dispatcher.build_url("web", "manager")%>"><i class="ico ico-nav-2"></i><span>设备管理</span></a>
			</li>
			<li class="plugin">
				<a href="<%=luci.dispatcher.build_url("web", "netset")%>"><i class="ico ico-nav-3"></i><span>网络设置</span></a>
			</li>
			<li class="setting">
				<a href="<%=luci.dispatcher.build_url("web", "sysset")%>"><i class="ico ico-nav-4"></i><span>系统设置</span></a>
			</li>
		</ul>
	</div>