<%
--[[
	Info	路由器重启恢复
]]--

local ver = require("xiaoqiang.XQVersion").webVersion
local request_uri = luci.http.getenv("REQUEST_URI")
%>
<%include('web/inc/head')%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.set.reboot.css?v=<%=ver%>"/>
</head>
<body>
<!-- upgread -->
<div class="mod-setting-panel">
	<div class="hd">
		<h3>路由器关机&重启</h3>
	</div>
	<div class="bd">
		<div class="mod-set-reboot">
			<div class="info">
				<h3>重启路由器</h3>
				<p>路由器重启需要等待几十秒或更多时间，重启过程中，将会断开网络连接，稍后将自动重新连接网络。</p>
			</div>
			<div class="btn-box">
				<button class="btn btn-primary" id="btnReboot"><span>重启路由器</span></button>
			</div>
		</div>
		<div class="mod-set-reboot">
			<div class="info">
				<h3>关闭路由器</h3>
				<p>关闭路由器将断开其他设备的数据访问和网络连接，之后便可以安全的断开电源。（再次启动需要手工连接电源）</p>
			</div>
			<div class="btn-box">
				<button class="btn btn-primary" id="btnShutdown"><span>关闭路由器</span></button>
			</div>
		</div>
	</div>
</div>
<%include('web/inc/g.js.base')%>
<script>
$(function(){
	$("#btnReboot").click(function(){
		window.top.reboot_window();
	});
	$('#btnShutdown').click(function(){
		window.top.shutdown_window();
	});
})
</script>