<%
--[[
	Info	wifi 高级设置
]]--
local LuciJson = require("luci.json")
local ver = require("xiaoqiang.XQVersion").webVersion
local wifiUtil = require("xiaoqiang.util.XQWifiUtil")
local wifiTxpwr = wifiUtil.getWifiTxpwr(1)
%>
<%include('web/inc/head')%>
<title>小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.set.default.css?v=<%=ver%>" type="text/css"/>
</head>
<body>
<div class="mod-setting-panel">
	<div class="hd">
		<h3>WiFi信号强度</h3>
	</div>
	<div class="bd">
		<div class="mod-set-wifipro">
			<form name="wifiSetTxpwr" id="wifiSetTxpwr" class="form form-horizontal" autocomplete="off">
				<div class="item">
					<label class="k">信号强度：</label>
					<span class="v">
					<select name="txpwr" id="txpwr" class="beautify">
						<option value="max">穿墙</option>
						<option value="mid">标准</option>
						<option value="min">节能</option>
					</select>
					</span>
					<em class="t"></em>
				</div>
				<div class="item item-control item-rsp-err" style="display:none"><em class="t"></em></div>
				<div class="item item-control">
					<button type="submit" class="btn btn-primary" id="btnSubmit"><span>保存</span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<%include('web/inc/g.js.base')%>
<script>
$.confirm = function(ok, cancel){
	window.top.art.dialog({
		id : "confirm",
		width : 300,
		title : "操作确认",
		content : '是否确认对WiFi进行修改？如果点击确认，WiFi将会重启，网络需要10秒钟才能恢复正常。',
		okValue: '确认',
		ok: function(){
			ok();
		},
		cancelValue: '取消',
		cancel: function () {
			cancel();
		}
	});
};
$(function(){
	var txpwr = '<%=wifiTxpwr%>';
	$('#txpwr').val(txpwr);

	function setTxpwr(root, data){
		var that = root;
		var request_data = data;
		return function(){
			$.getJSON('<%=luci.dispatcher.build_url("api", "xqnetwork","set_wifi_txpwr")%>', request_data, function(rsp){
				if (rsp.code == 0) {
					window.top.art.dialog({
						title : false,
						content : '设置已经生效，等待30秒后WiFi重启。'
					}).lock().time(30*1000);

					setTimeout(function(){
						self.location.reload(1);
					}, 30 * 1000);
				}else{
					$('.item-rsp-err', that).show().addClass('item-err');
					$('.item-rsp-err', that).find('.t').html(rsp.msg).show();
				}
			});
		}
	}

	$('#wifiSetTxpwr').on('submit', function(e){
		e.preventDefault();
		var that = this;
		var request_data = {
			txpwr: $('#txpwr').val()
		};
		if (request_data.txpwr == txpwr) {
			$.lightalert().setContent('你都没改变，提交什么啊？').show();
			return;
		}
		var ok = setTxpwr(that, request_data);
		var cancel = function(){}
		$.confirm(ok, cancel);
	});
});
</script>
</body>
</html>