<%
local ver = require("xiaoqiang.XQVersion").webVersion
local sys = require("xiaoqiang.util.XQSysUtil")
%>
<%include ("web/inc/head")%>
<title>初始化引导 - 小米路由器</title>
<link rel="stylesheet" href="<%=resource%>/web/css/page.init.css?v=<%=ver%>">
</head>
<body id="page-guide">
<div id="doc">
	<%include ("web/inc/header")%>
	<div id="bd">
		<div class="mod-agreement">
			<div class="hd">
				<h3>小米路由器 用户使用协议</h3>
			</div>
			<div class="bd">
				<div class="content">
					<%include('web/inc/agreement')%>
				</div>
			</div>
		</div>
	</div>
	<%include ("web/inc/footer")%>
</div>
</body>
</html>
