<%
local XQSysUtil = require "xiaoqiang.util.XQSysUtil"
local xqlanwanutil = require "xiaoqiang.util.XQLanWanUtil"
local macdefault = string.upper(xqlanwanutil.getDefaultMacAddress())
local romVersion = XQSysUtil.getRomVersion()
local _romChannel = XQSysUtil.getChannel()
local romChannel = "开发版"
if _romChannel == "current" then
    romChannel = "内测版"
end
if _romChannel == "release" then
    romChannel = "稳定版"
end
%>
    <div id="ft">
        <p><%:系统版本%>: MiWiFi Rom <%=romVersion%> <%=romChannel%>&nbsp;&nbsp;&nbsp;&nbsp;<%:MAC地址%>: <%=macdefault%></p>
        <p>&copy; 2014 <%:小米路由器%><span>|</span><a href="http://www1.miwifi.com" target="_blank">官方网站</a><span>|</span><a href="http://weibo.com/xiaomiluyouqi" target="_blank">官方微博</a><span>|</span><a href="https://land.xiaomi.net/res/e1fdbc3/land/miwifi/wf_2dcode.jpg" target="_blank">官方微信</a><span>|</span><a href="http://bbs.xiaomi.cn/forum-692-1.html" target="_blank">用户社区</a><span>|</span><%:服务热线%>  400-100-5678<p>
    </div>