<!DOCTYPE html>
<%
local ver = require("xiaoqiang.XQVersion").webVersion
%>
<html lang="zh-CN">
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title>小米路由器</title>
	<link href="<%=resource%>/mobile/css/bc.css?v=<%=ver%>" rel="stylesheet">
</head>
<body>
	<%include("mobile/inc/header")%>
	<article>
		<div class="mod-agreement">
			<div class="content">
				<%include('web/inc/agreement')%>
			</div>
		</div>
	</article>
	<%include("mobile/inc/footer")%>
</body>
</html>
